body {
  margin: 0;
  display: flex;
  background-color: #191816;
}
img {
  padding-top: 150px;
  padding-bottom: 100px;
  padding-left: 45vw;
}
.box {
  position: relative;
  left: 60%;
  top: 5%;
  padding-bottom: 10%;
  width: 70%;
  box-sizing: border-box;
  background-color: #24221f;
  border: 3px solid #ffc632;
  border-radius: 10px;
}
h2 {
  padding-top: 110px;
  padding-left: 190px;
  color: #ffc632;
}

@media (max-width: 430px) and (min-width: 390px) {
  .box {
    position: relative;
    left: 25%;
  }

  h2 {
    position: relative;
    right: 63%;
  }

  img {
    padding-left: 35vw;
  }
}